<div class="footer" style="background-color:#262364;height:150px;"><p class="buuuu">Καλέστε μας για προσφορά: {{ site.phoneDisplay }}</p></div>
<div class="footer">
  <div class="row" id="narr">
    <div class="column">
      <div class="pvch2"><h4>Επικοινωνία</h4></div>
      <div class="pvcdesc">
        <p>Διεύθυνση</p>
        <p>Τηλέφωνο</p>
        <p>Whatsapp</p>
        <p>Viber</p>
        <p>Email</p>
        <p>Φόρμα Επικοινωνίας</p>
        <p>Για Επαγγελματίες B2B</p>
        <p>Υπηρεσίες Χονδρικής</p>
      </div>
    </div>
    <div class="column">
      <div class="pvch2"><h4>Κουφώματα PVC</h4></div>
      <div class="pvcdesc">
        <a title="pvc κουφώματα" href="{{ site.url }}/">Pvc Κουφώματα</a>
        <a title="pvc παράθυρα" href="{{ site.url }}/pvc-parathira/">Pvc Παράθυρα</a>
        <a title="pvc μπαλκονόπορτες" href="{{ site.url }}/pvc-balkonoportes/">Pvc Μπαλκονόπορτες</a>
        <a title="pvc κουζινόπορτες" href="{{ site.url }}/pvc-balkonoportes/">Pvc Κουζινόπορτες</a>
        <a title="pvc παντζούρια" href="{{ site.url }}/pvc-patzouria/">Pvc Παντζούρια</a>
        <a title="σίτες" href="{{ site.url }}/sites/">Σίτες Κουφωμάτων</a>
        <a title="pvc ρολά" href="{{ site.url }}/pvc-rola/">Pvc Ρολά</a>
        <a title="επικοινωνία" href="{{ site.url }}/epikoinonia/">Επικοινωνία</a>
      </div>
    </div>
    <div class="column">
      <div class="pvch2"><h4>Χρήσιμα Links</h4></div>
      <div class="pvcdesc">
        <a title="Κουφώματα Ramplast" href="https://en.ramplast.ro/">Κουφώματα Ramplast</a>
        <a title="Κουφώματα Rehau" href="https://www.rehau.com/gr-el">Κουφώματα Rehau</a>
        <a title="Κουφώματα Koemmerling" href="https://www.koemmerling.gr/gr/">Κουφώματα Koemmerling</a>
        <a title="Εξοικονόμηση κατ' οίκον ΙΙ" href="https://exoikonomisi.ypen.gr/">Εξοικονόμηση κατ' οίκον ΙΙ</a>
        <a title="κατάλογος pvcoutlet" href="https://issuu.com/pvcoutlet-koufomata">Δείτε τον κατάλογο</a>
      </div>
    </div>
    <div class="column">
      <div class="pvch2"><h4>Social Media</h4></div>
      <div class="pvcdesc">
        <a title="Facebook pvcoutlet" href="https://www.facebook.com/pvcoutlet">Facebook</a>
        <a title="Instagram pvcoutlet" href="https://www.instagram.com/pvcoutlet">Instagram</a>
        <a title="Youtube pvcoutlet" href="https://www.youtube.com/channel/UChbFoqc-zPmvKuhAbdKAiew">Youtube</a>
      </div>
    </div>
  </div>
</div>
<div class="subfooter">
  <a href="{{ site.url }}/"><img alt="κουφώματα pvc {{ site.name }}" src="{{ site.url }}/img/pvcoutlet-logo.webp" width="200" height="40" loading="lazy"></a>
  <small>POWERED BY</small><br/>
  <strong style="margin:10px;"><a href="https://technopan.gr/" title="ΤΕΧΝΟΠΑΝ κουφώματα PVC">ΤΕΧΝΟΠΑΝ</a></strong>
  <p>Συνθετικά κουφώματα pvc, παράθυρα pvc, μπαλκονόπορτες pvc, ρολά και σίτες σε χαμηλές τιμές. Πανελλαδική παράδοση. Επικοινωνήστε για προσφορά.</p>
</div>
