<div class="footer" style="background-color:#262364;height:150px;"><p class="buuuu">Καλέστε μας για προσφορά: {{ site.phoneDisplay }}</p></div>
<div class="footer">
  <div class="row" id="narr">
    <div class="column">
      <div class="pvch2"><h3>Επικοινωνία</h3></div>
      <div class="pvcdesc">
        <p>Διεύθυνση</p>
        <p>Τηλέφωνο</p>
        <p>Whatsapp</p>
        <p>Viber</p>
        <p>Email</p>
        <p>Φόρμα Επικοινωνίας</p>
        <p>Για Επαγγελματίες B2B</p>
        <p>Υπηρεσίες Χονδρικής</p>
      </div>
    </div>
    <div class="column">
      <div class="pvch2"><h3>Κουφώματα PVC</h3></div>
      <div class="pvcdesc">
        <a title="pvc κουφώματα" href="{{ site.url }}/">Pvc Κουφώματα</a>
        <a title="pvc παράθυρα" href="{{ site.url }}/pvc-parathira/">Pvc Παράθυρα</a>
        <a title="pvc μπαλκονόπορτες" href="{{ site.url }}/pvc-balkonoportes/">Pvc Μπαλκονόπορτες</a>
        <a title="pvc κουζινόπορτες" href="{{ site.url }}/pvc-balkonoportes/">Pvc Κουζινόπορτες</a>
        <a title="pvc παντζούρια" href="{{ site.url }}/pvc-patzouria/">Pvc Παντζούρια</a>
        <a title="σίτες" href="{{ site.url }}/sites/">Σίτες Κουφωμάτων</a>
        <a title="pvc ρολά" href="{{ site.url }}/pvc-rola/">Pvc Ρολά</a>
        <a title="επικοινωνία" href="{{ site.url }}/epikoinonia/">Επικοινωνία</a>
      </div>
    </div>
    <div class="column">
      <div class="pvch2"><h3>Χρήσιμα Links</h3></div>
      <div class="pvcdesc">
        <a title="PVC Stockhouse" href="{{ site.url }}/pvc-stockhouse/">PVC Stockhouse</a>
        <a title="Κουφώματα Ramplast" href="https://en.ramplast.ro/" target="_blank" rel="noopener noreferrer">Κουφώματα Ramplast</a>
        <a title="Κουφώματα Rehau" href="https://www.rehau.com/gr-el" target="_blank" rel="noopener noreferrer">Κουφώματα Rehau</a>
        <a title="Κουφώματα Koemmerling" href="https://www.koemmerling.gr/gr/" target="_blank" rel="noopener noreferrer">Κουφώματα Koemmerling</a>
        <a title="Εξοικονόμηση κατ' οίκον ΙΙ" href="https://exoikonomisi.ypen.gr/" target="_blank" rel="noopener noreferrer">Εξοικονόμηση κατ' οίκον ΙΙ</a>
        <a title="κατάλογος pvcoutlet" href="https://issuu.com/pvcoutlet-koufomata" target="_blank" rel="noopener noreferrer">Δείτε τον κατάλογο</a>
        <a title="Έργα πελατών" href="{{ site.url }}/erga-pelaton/">Έργα πελατών</a>
        <a title="Κουφώματα Wiki" href="https://el.wikipedia.org/wiki/Κουφώματα" target="_blank" rel="noopener noreferrer">Κουφώματα Wiki</a>
      </div>
    </div>
    <div class="column">
      <div class="pvch2"><h3>Social Media</h3></div>
      <div class="pvcdesc">
        <a title="Facebook pvcoutlet" href="https://www.facebook.com/pvcoutlet" target="_blank" rel="noopener noreferrer">Facebook</a>
        <a title="Instagram pvcoutlet" href="https://www.instagram.com/pvcoutlet" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a title="Youtube pvcoutlet" href="https://www.youtube.com/channel/UChbFoqc-zPmvKuhAbdKAiew" target="_blank" rel="noopener noreferrer">Youtube</a>
        <a title="Twitter pvcoutlet" href="https://twitter.com/pvcoutlet" target="_blank" rel="noopener noreferrer">Twitter</a>
        <a title="Pinterest pvcoutlet" href="https://www.pinterest.com/pvcoutlet" target="_blank" rel="noopener noreferrer">Pinterest</a>
      </div>
    </div>
  </div>
</div>
<div class="subfooter">
  <a href="{{ site.url }}/"><img alt="κουφώματα pvc {{ site.name }}" src="{{ site.url }}/img/pvcoutlet-logo.webp" width="200" height="40" loading="lazy"></a>
  <small>POWERED BY</small><br/>
  <strong style="margin:10px;"><a href="https://technopan.gr/" title="ΤΕΧΝΟΠΑΝ κουφώματα PVC" target="_blank" rel="noopener noreferrer">ΤΕΧΝΟΠΑΝ</a></strong>
  <p>Συνθετικά κουφώματα pvc, παράθυρα pvc, μπαλκονόπορτες pvc, ρολά και σίτες σε χαμηλές τιμές. Πανελλαδική παράδοση. Επικοινωνήστε για προσφορά.</p>
  <nav class="internal-links" aria-label="Εσωτερικοί σύνδεσμοι">
    {% for link in internalLinks %}
    <a href="{{ site.url }}{{ link.url }}" title="{{ link.title }}">{{ link.label }}</a>{% if not loop.last %} · {% endif %}
    {% endfor %}
  </nav>
</div>
