<div class="mainsl" id="eikona">
  {% image "img/img1.webp", "Κουφώματα PVC " ~ site.name, 1200, 700, "hero-bg", "eager", "high" %}
  <div class="centeredpvc"><h1 id="tilak">{{ h1 }}</h1></div>
</div>
