<div class="row">
  <div class="column">
    <div class="testimo">
      <p class="nname">Αλέξης Αλεξάκης <span class="goldd">★★★★★</span></p>
      {% image "img/koufomata-pvc-kallithea.jpg", "Καλλιθέα κουφώματα pvc", 400, 267, "", "lazy" %}
      <p>Μένω στον 1ο όροφο πολυκατοικίας πρόσοψη σε πολυσύχναστο δρόμο της Καλλιθέας στην Αθήνα. Τα επάλληλα αλουμινένια κουφώματα που είχε το διαμέρισμα από τον κατασκευαστή είχαν πολύ χαμηλή ηχομόνωση με αποτέλεσμα η ποιότητα της καθημερινότητάς μου στο διαμέρισμα να ήταν σε ένταση. Αναζητώντας για οικονομικούς τρόπους ηχομόνωσης έμαθα για τα συνθετικά κουφώματα από pvc. Με λίγο περισσότερο ψάξιμο κατάλαβα πως ήταν μονόδρομος για την ηχομόνωση του σπιτιού μου και κατεπέκταση την ψυχική μου γαλήνη. Αν και πιστεύω πως πληρώ τις προϋποθέσεις για το πρόγραμμα «Εξοικονόμηση κατ΄ Οίκον ΙΙ», το κόστος της ανακαίνισης των κουφωμάτων δεν ήταν τόσο μικρό που να μην το σκέφτομαι καθόλου. Τώρα σε συνδυασμό με τις κουρτίνες και τα νέα pvc κουφώματα που εγκατέστησα από την PVCOUTLET μπορώ και απολαμβάνω το σπίτι μου, χωρίς τους θορύβους της πόλης. Ευχαριστώ πολύ την PVCOUTLET για όλο τον επαγγελματισμό τους.</p>
    </div>
    <div class="testimo">
      <p class="nname">Teo Teo <span class="goldd">★★★★★</span></p>
      {% image "img/diplo-koufoma-pvc.jpg", "δίφυλλο παράθυρο Pvc", 400, 267, "", "lazy" %}
      <p>Μετά από πολύ ψάξιμο κατέληξα στα κουφώματα pvc. Η PVCoutlet με κέρδισε αμέσως καθώς μου έλυσαν όλες τις απορίες. Απάντησαν αμέσως στο τηλέφωνο και μου έδωσαν επιτόπου τιμή για το παράθυρο στις διαστάσεις που ήθελα. Μου εξήγησαν τη διαφορά του ενεργειακού κρύσταλλου τεσσάρων εποχών με τα κοινά της αγοράς. Την επόμενη μέρα ήρθαν σπίτι μου στον Άλιμο, ξήλωσαν το παλιό ξύλινο κουφώμα και εγκατέστησαν το νέο λευκό παράθυρο pvc με 2 φύλλα, ρολό και σίτα. Άμεσα και οικονομικά, έμεινα πολύ ευχαριστημένος.</p>
    </div>
    <div class="testimo">
      <p class="nname">Μαρία Παναγούλη <span class="goldd">★★★★★</span></p>
      {% image "img/koufomata-pvc-halandri.jpg", "κουφώματα PVC Χαλάνδρι", 400, 267, "", "lazy" %}
      <p>Το διαμέρισμά μας βρίσκεται στον 6ο όροφο πολυκατοικίας στο Χαλάνδρι και ανέκαθεν είχαμε πρόβλημα με τη θέρμανση. Πολλές μπαλκονόπορτες και παράθυρα περιμετρικά με αποτέλεσμα το χειμώνα η θερμοκρασία να μην ανεβαίνει με τίποτα. Τα συνθετικά κουφώματα της PVCoutlet άλλαξαν τελείως το κλίμα στο διαμέρισμά μας. Τοποθετήσαμε μπαλκονόπορτες και παράθυρα Pvc με ρολά και σίτες και μείναμε πολύ ευχαριστημένοι από τις τιμές και τον επαγγελματισμό τους.</p>
    </div>
    <div class="testimo">
      <p class="nname">Ασφάλειες Οικονόμου <span class="goldd">★★★★★</span></p>
      {% image "img/koufoma-pvcoutlet-office.jpg", "koufomata pvc office", 400, 267, "", "lazy" %}
      <p>Ανακαινίσαμε πρόσφατα τα γραφεία μας με τα pvc κουφώματα της pvcoutlet. Μείναμε πολύ ευχαριστημένοι από την εξυπηρέτηση, την τιμή και τα επίπεδα θερμομόνωσης και ηχομόνωσης.</p>
    </div>
  </div>
  <div class="column">
    <div class="testimo">
      <p class="nname">Giannis Floros <span class="goldd">★★★★★</span></p>
      <p>Poli kali sinergasia apo tin arhi mehri to telos. Ta koufomata itan poitika kai odws miosan tin ihoripansi kai ti fasaria. To spiti mas einai pleon zesto kai den bazi kryo apo ta koufomata. Oi times tis PVCOUTLET itan makran oi kaliteres tis agoras. Ta parathira kai oi balkonoportes katharizode efkola kai fainode poli omorfa.</p>
    </div>
    <div class="testimo">
      <p class="nname">Ευάγγελος Σπύρου <span class="goldd">★★★★★</span></p>
      <p>Πρόσφατα ένας φίλος μας έκανε ανακαίνιση στα κουφώματά του και έβαλε τα pvc της PVCOUTLET και έμεινε τόσο ευχαριστημένος που μας έπεισε να τα ανακαινίσουμε κι εμείς. Συγκεκριμένα αλλάξαμε 3 παράθυρα και 4 μπαλκονόπορτες και αλλάξαμε τα παλιά ξύλινα πατζούρια με νέα ρολά. Σε όλα τα κουφώματα προσθέσαμε σίτες πλισέ. Είμαστε πολύ ευχαριστημένοι από την συνέπεια, την ποιότητα και την τιμή της PVCOUTLET.</p>
    </div>
    <div class="testimo">
      <p class="nname">Ermelinda X. <span class="goldd">★★★★★</span></p>
      {% image "img/kafe-koufomata-pvc.jpg", "καφέ κουφώματα pvc", 400, 267, "", "lazy" %}
      <p>Πολύ καλοί επαγγελματίες. Έμεινα πολύ ευχαριστημένος από τα ξύλινα κουφώματα PVC μάρκας Rehau. Πολύ καλή τιμή προσφοράς για εγκατάσταση pvc παραθύρων και μπαλκονόπορτας. Ευγενικοί, καθαροί και οικονομικοί. Προτείνω.</p>
    </div>
    <div class="testimo">
      <p class="nname">Artemis Nuts <span class="goldd">★★★★★</span></p>
      {% image "img/koufomata-pvc-times-pvcoutler.jpg", "koufomata pvc times", 400, 267, "", "lazy" %}
      <p>Στην PVCOUTLET βρήκα τα κουφώματα που ήθελα στις καλύτερες τιμές της αγοράς. Ανακαινίσαμε τα παράθυρα και τις μπαλκονόπορτες και είμαστε πολύ ευχαριστημένοι από την ποιότητα και την τιμή.</p>
    </div>
  </div>
  <div class="column">
    <div class="testimo">
      <p class="nname">Viky Lianou <span class="goldd">★★★★★</span></p>
      {% image "img/parathiro-pvc-baniu.jpg", "παράθυρο pvc μπάνιου", 400, 267, "", "lazy" %}
      <p>Ετοιμοπαράδοτα παράθυρα Pvc σε πολύ καλές τιμές. Πήρα παράθυρο pvc μπάνιου με 50€.</p>
    </div>
    <div class="testimo">
      <p class="nname">Παναγιώτης Ρούσος <span class="goldd">★★★★★</span></p>
      {% image "img/eidiki-kataskevi-pvc.jpg", "ειδική κατασκευή κουφώματος PVC", 400, 267, "", "lazy" %}
      <p>Άλλαξα μαζί τους το παράθυρο του μπάνιου καθώς το παλιό χάλασε λόγω υγρασίας. Μου πρότειναν ειδική κατασκευή από Pvc καθώς εξωτερικό δοκάρι εμπόδιζε το άνοιγμα του παραθύρου προς τα έξω. Σε πολύ καλή τιμή, προχώρησαν στην ανακαίνιση και έμεινα πολύ ευχαριστημένος από όλα. Μελλοντικά θα αλλάξω και τα υπόλοιπα παράθυρα και μπαλκονόπορτες σε pvc.</p>
    </div>
    <div class="testimo">
      <p class="nname">Μάνος Ψ. <span class="goldd">★★★★★</span></p>
      {% image "img/parathiro-baniou-pvc.jpg", "συνθετικό παράθυρο μπάνιου από pvc", 400, 267, "", "lazy" %}
      <p>Ο Κώστας και η υπόλοιπη ομάδα της PVC outlet είναι οι ειδικοί στα κουφώματα pvc. Συνδιάζουν την εξειδίκευση με την ποιότητα και τις χαμηλές τιμές. Πήρα μπαλκονόπορτες pvc και παράθυρα pvc για τα δωμάτια, την κουζίνα και το μπάνιο. Ευχαριστώ!</p>
    </div>
  </div>
</div>
