/* ==========================================================================
   PVCOUTLET.GR - Consolidated Stylesheet
   Performance optimized - extracted from inline styles
   ========================================================================== */

/* ==========================================================================
   BASE RESET & BOX SIZING
   ========================================================================== */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, img, span, div, ul, li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  width: 100%;
  margin: auto;
  max-width: 100%;
}

/* Skip link: hidden until focused (a11y + SEO) */
.skip-link {
  position: absolute;
  top: -3rem;
  left: 0.5rem;
  z-index: 9999;
  padding: 0.5rem 1rem;
  background: #262364;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0 0 4px 0;
  transition: top 0.2s;
}
.skip-link:focus {
  top: 0;
  outline: 2px solid #00afed;
  outline-offset: 2px;
}

/* ==========================================================================
   SCROLLBAR STYLING
   ========================================================================== */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #00aeec;
  background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent);
}

::selection {
  color: #262364;
  background: yellow;
}

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */
h1 {
  font-size: 100%;
  background: #00aeeed4;
  border: 5px solid white;
  padding: 20px;
}

a {
  color: #0f2557;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #00afed;
}

p {
  font-size: 17px;
  line-height: 29px;
}

.nname {
  font-weight: 600;
}

.doname {
  color: #3778c2;
}

/* ==========================================================================
   TITLES
   ========================================================================== */
p.titlos2, .titlos2 {
  font-size: 3em;
  padding: 20px !important;
  background: whitesmoke;
  color: #150734;
  margin: 20px 0px 20px 0px !important;
  font-weight: 800;
  line-height: 50px;
}

p.titlos3, .titlos3 {
  font-size: 3em;
  padding: 20px !important;
  color: #150734;
  margin: 20px 0px 20px 0px !important;
  font-weight: 800;
  line-height: 50px;
}

.tttiitl {
  font-size: 2em;
  padding: 20px !important;
  background: whitesmoke;
  color: #150734;
  margin: 20px 0px 20px 0px !important;
}

#tilak {
  font-size: 60px;
  text-align: center;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header img {
  width: 500px;
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.topnav {
  width: 100%;
  display: table;
  text-align: center;
  overflow: hidden;
  background-color: #262364;
}

.topnav a {
  float: none;
  display: inline-flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active,
.topnav a:hover {
  background-color: #00aeec;
  color: #f1f1f1;
}

.topnav .icon {
  display: none;
}

/* ==========================================================================
   HERO / SLIDER
   ========================================================================== */
.mainsl {
  position: relative;
  text-align: center;
  color: white;
}

.centeredpvc {
  position: absolute;
  top: 45%;
  left: 49%;
  transform: translate(-50%, -50%);
}

#eikona {
  background-image: url(img/img1.webp);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: 63% 19%;
}

/* 404 page hero */
.page-404 #eikona {
  background-image: url(https://pvcoutlet.gr/img/sinthetika-pvc-koufomata-pvcoutlet.jpg);
  background-position: 100% 75%;
}

/* ==========================================================================
   CONTAINERS
   ========================================================================== */
.containerpvc {
  width: 1200px;
  margin: auto;
  max-width: 100%;
}

.containerpvc2 {
  width: 100%;
  margin: auto;
  background: #2c539e;
  background: -moz-linear-gradient(top, #2c539e 0%, #2c539e 100%);
  background: -webkit-linear-gradient(top, #2c539e 0%, #2c539e 100%);
  background: linear-gradient(to bottom, #2c539e 0%, #2c539e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c539e', endColorstr='#2c539e', GradientType=0);
  padding-bottom: 100px;
}

.containerpvc3 {
  width: 100%;
  margin: auto;
  background-color: whitesmoke;
  padding-bottom: 100px;
}

#narr {
  width: 1200px;
  margin: auto;
  max-width: 100%;
}

/* ==========================================================================
   FLEXBOX LAYOUT
   ========================================================================== */
.row {
  display: -webkit-flex;
  display: flex;
  padding-top: 15px;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: whitesmoke;
  margin: 30px 5px 50px 5px;
}


.smallcol {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: whitesmoke;
  margin: -2px 5px -1px 5px;
}

.column ul {
  padding: 50px;
}

.column ul li {
  margin-bottom: 10px;
  font-size: 20px;
}

.column ul.zmall {
  padding: 20px !important;
}

.zmall li {
  font-size: 16px !important;
}

/* ==========================================================================
   CARD / BOX STYLES
   ========================================================================== */

/* Product card image fix - equal heights */
.row .column > img {
  width: 100% !important;
  height: 250px !important;
  object-fit: cover !important;
  flex-shrink: 0;
}

/* Equal height cards */
.row {
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
}

.column > .pvch2 {
  flex-shrink: 0;
}

.column > .pvcdesc {
  flex-grow: 1;
}

div.pvch2 {
  background: #262364;
  padding: 19px;
}

div.pvch2 a {
  color: White;
  line-height: 25px;
}

div.pvch2 p {
  color: White;
  line-height: 25px;
  font-size: 15px;
  margin-top: 10px;
}

div.pvch2 a:hover {
  color: #00afed;
}

h3.pvch2 {
  background: #262364;
  padding: 19px;
}

h3.pvch2 a,
.miko a {
  color: White;
  text-decoration: none;
}

h3.pvch2 a:hover {
  color: #00afed;
}

h2.miko {
  background: #262364;
  padding: 19px;
  font-size: 1.17em;
}

div.pvcdesc {
  margin: 0px 5% 5% 5%;
}

div.pvcdesc h3 {
  padding: 12px 10px 10px 2px;
  border-bottom: 1px solid #150734;
  font-size: 14px;
}

.hed4 {
  padding: 12px 10px 10px 2px;
  border-bottom: 1px solid #150734;
  font-size: 14px;
}

/* ==========================================================================
   USP / ICONS BOX
   ========================================================================== */
.sssvv {
  width: 50px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
}

.wwt {
  color: white;
  margin-bottom: 60px;
}

.centroio {
  text-align: center;
  line-height: 25px;
  padding: 0px 40px 0px 40px;
}

.intro {
  text-align: center;
  margin: auto;
  width: 80%;
  display: block;
  padding-top: 50px;
  line-height: 36px;
  font-weight: 100;
  color: #262364;
}

.bbl {
  background-color: #262364 !important;
  border-bottom: 6px solid #00aeec;
}

.lllb {
  color: #00aeec;
}

.m20marg {
  margin: 10px 0px 10px 0px;
  border-bottom: 6px solid #00aeec;
}

/* ==========================================================================
   TESTIMONIALS
   ========================================================================== */
.testimo {
  padding: 10px;
  border: 1px solid gainsboro;
  background: white;
  margin-bottom: 10px;
}

.testo p.nname {
  padding: 10px 0px 10px 0px;
}

.goldd {
  color: gold;
  font-size: 25px;
  margin-left: 10px;
}

/* ==========================================================================
   BANNER / ADVERTISING
   ========================================================================== */
.diaff {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 50px;
}

.vugu {
  background-image: url(img/koufomata-pvc-times.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.vugu2 {
  background-image: url(img/pvc-times-koufomata.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
  background-color: #f1f1f1;
  width: 100%;
  padding: 10px;
}

.footer h4 {
  color: white;
}

.footer a,
.footer p {
  text-align: left;
  line-height: 30px;
}

.subfooter {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.subfooter img {
  width: 200px;
}

.subfooter .internal-links {
  margin-top: 0.75rem;
  font-size: 0.9rem;
  line-height: 1.6;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
}

.subfooter .internal-links a {
  color: #00afed;
  text-decoration: none;
}

.subfooter .internal-links a:hover {
  text-decoration: underline;
}

p.buuuu {
  font-size: 30px;
  color: White;
  text-align: center;
  line-height: 130px;
}

/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */
.biie {
  list-style-type: none;
}

.sepp {
  padding: 20px;
}

.pad30 {
  padding: 25px;
}

.whhi {
  background-color: white;
}

.basii {
  padding: 20px;
}

.basii2 {
  padding: 0px 20px 0px 20px;
}

.nopad {
  margin: 0px 5px 0px 5px !important;
}

p.dddar {
  color: white;
}

.breaaaad {
  padding: 20px !important;
  margin-top: 20px;
}

.breaaaad a {
  display: inline !important;
}

#calus {
  display: none;
}

/* ==========================================================================
   GOOGLE MAPS LAZY LOADING
   ========================================================================== */
.map-container {
  position: relative;
  width: 100%;
  height: 600px;
  background: #f0f0f0;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.map-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.map-placeholder:hover {
  background: linear-gradient(135deg, #764ba2 0%, #667eea 100%);
}

/* ==========================================================================
   RESPONSIVE - TABLET & MOBILE
   ========================================================================== */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .column {
    margin: 15px;
  }

  p.titlos2,
  .titlos2 {
    font-size: 2em;
    padding: 20px !important;
    background: whitesmoke;
    color: #150734;
    margin: 20px 0px 20px 0px !important;
    font-weight: 800;
    line-height: 40px;
  }

  p.titlos3,
  .titlos3 {
    font-size: 2em;
    padding: 20px !important;
    color: #150734;
    margin: 20px 0px 20px 0px !important;
    font-weight: 800;
    line-height: 40px;
  }

  #tilak {
    font-size: 40px;
    text-align: left;
  }

  .diaff {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 0px;
  }

  .header img {
    width: 300px;
  }

  #calus {
    display: block;
  }
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
