---
layout: layouts/base.njk
title: Επικοινωνία | Κουφώματα PVC PVCOUTLET®
description: Καλέστε μας για προσφορά κουφωμάτων pvc. Ετοιμοπαράδοτα παράθυρα, μπαλκονόπορτες και πόρτες στις καλύτερες τιμές.
canonical: https://pvcoutlet.gr/epikoinonia/
ogTitle: Επικοινωνία | PVCOUTLET®
ogDesc: Επικοινωνήστε μαζί μας για προσφορά κουφωμάτων pvc.
h1: Επικοινωνία – Κουφώματα PVC σε 12 άτοκες δόσεις
permalink: /epikoinonia/
breadcrumbs:
  - { name: "Κουφώματα PVC", url: "/" }
  - { name: "Επικοινωνία", url: "/epikoinonia/" }
---

{% include "hero.njk" %}
<div class="containerpvc">
  <br/>
  <h2 class="intro"><strong>ΚΑΛΕΣΤΕ ΜΑΣ ΓΙΑ ΠΡΟΣΦΟΡΑ</strong><br/><br/>Επικοινωνήστε τηλεφωνικά ή με email για άμεση προσφορά. Στείλτε φωτογραφίες και διαστάσεις και θα απαντήσουμε με κόστος αγοράς και τοποθέτησης.</h2>
  <br/>
  <div class="row">
    <div class="column bbl"><br/><img src="/img/phone.svg" class="sssvv" alt="Τηλέφωνο" width="50" height="50" loading="lazy"><p class="centroio nname lllb">{{ site.phoneDisplay }}</p><br/><p class="centroio wwt">Καλέστε για <span class="nname">τηλεφωνική προσφορά</span>.</p></div>
    <div class="column bbl"><br/><p class="centroio nname lllb">{{ site.address }}, {{ site.locality }} {{ site.postalCode }}</p><br/><p class="centroio wwt">Ελάτε στο γραφείο για να δείτε την <span class="nname">ποιότητα των κουφωμάτων</span>.</p></div>
    <div class="column bbl"><br/><p class="centroio nname lllb">info&#64;pvcoutlet.gr / business&#64;pvcoutlet.gr</p><br/><p class="centroio wwt">Στείλτε email με φωτογραφίες και διαστάσεις για προσφορά εντός 24 ωρών.</p></div>
  </div>
  <p class="basii">Ώρες λειτουργίας: Δευτέρα – Σάββατο 09:00 – 17:00. Πανελλαδική παράδοση και τοποθέτηση κουφωμάτων pvc, ρολών και σιτών.</p>
  <div class="sepp"></div>
</div>
